<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/blog.js"></script>
</head>
<body>

<div>
    <div>
        <div>
            <h1>Welcome</h1>
            <form id="register-form" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password" id="register-password">
                <input type="password" name="repassword" placeholder="rePassword">
                <br>
                <button type="submit" id="login-button">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>